.banner {
  display: flex;
  position: relative;
  width: 100%;
  max-height: 40vh;
  overflow: hidden;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.banner p {
  color: white;
  font-size: 4rem;
  position: absolute;
  font-weight: bold;
}

.banner img {
  width: 100%;
  max-height: 40vh;
  height: auto;
  overflow: hidden;
  object-fit: cover;
}

.form-intro {
  text-align: center;
  padding: 2vh;
  width: 90%;
  margin-left: 5%;
  color: white;
  margin-top: 5vh;
  background-color: #7a9cc6;
}
.form-intro p {
  font-size: 2em;
}

.form-intro h2 {
  text-align: center;
}

.budget-form {
  background-color: rgb(243, 247, 255);
  padding: 10px;
  margin-top: 10vh;
  margin-bottom: 5vh;
  display: block;
  width: 80%;
  margin-left: 10%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.budget-form input,
label {
  display: block;
  width: 80%;
  margin-left: 10%;
}

.budget-form label {
  margin-top: 2vh;
  font-weight: bold;
  font-size: 2em;
}
.budget-form input {
  margin-bottom: 2vh;
  padding: 1em;
}

.budget-form button {
  padding: 2em;
  align-items: center;
  background-color: cornflowerblue;
  color: white;
  border: none;
  border-radius: 2em;
}

.budget-form:hover button {
  cursor: pointer;
}

#budgetResult {
  display: none;
  width: 80%;
  margin-left: 10%;
  font-size: 2em;
  margin-bottom: 5vh;
  height: auto;
  padding: 3vh;
  color: white;
  background-color: #7a9cc6;
}

#budgetBreakdown {
  display: none;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  color: white;
  background-color: #7a9cc6;
}

dt {
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  margin-top: 2px;
}

dd {
  padding: 30px;
  font-size: 3em;
}

#resultInfo {
  display: none;
  margin-bottom: 4vh;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding: 2vw;
  align-items: center;
  color: white;
  background-color: #7a9cc6;
}

#resultInfo p {
  padding-top: 1vh;
  font-size: 2em;
}
